<header class="header">
	<nav class="nav">
      
		<article class="nav-layout">
			<header class="nabar-header">
				<h4 class="navbar-title navbar-top">
					<a href="#">
						Netflix 
						<span>Watch</span>
					</a>
				</h4>
			</header>

			<main class="navbar-collapse collapse" id="navbarSupportedContent">
				<ul class="navbar">
					
				

					<li class="navbar-link  skew-right ">
						<a routerLink="/mainhome">Home</a>
					</li>
					<li class="navbar-link skew-right " >
						<a routerLink="/home" >Films</a>
					</li>
					<li class="navbar-link skew-right ">
						<a routerLink="/contactus">Contact</a>
					</li>
					
					<li class="navbar-title navbar-link navbar-middle ">
						<a routerLink="/mainhome">
							Netflix
							<span>watch</span>
						</a>
					</li>
					<li class="navbar-link skew-left ">
						<a routerLink="/aboutme">About Me</a>
					</li>
				
					
					<li class="navbar-link2   ">
						<a routerLink="/register"><button type="button" class="btn btn-light ">Login//Signup</button>
						</a>
					</li>
				
				</ul>
				
			</main>

      
			<footer class="navbar-footer text-center  ">
				<a href="#menu-toggle" class="nav-toggle navbar-toggler  w-25 h-25" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img  class="img-fluid h-25 w-100" src="https://i.ibb.co/7xhFXxM/11.jpg">
				</a>
 
      </footer>
		</article>
	</nav>
</header>



























